<div class="container">

  <%= form_tag(password_forgot_submit_path, {class:'form-signin'}) do %>
    <div><%= flash_messages %></div>
    <h3>Enter your email address</h3>
    <%= label_tag(:email, "Search for:", class: 'sr-only') %>
    <%= email_field_tag(:email, nil, class: 'form-control', placeholder: "Email Address", required: true, autofocus: true )%>
    <br />
    <%= submit_tag("Continue", class: 'btn btn-lg btn-primary btn-block') %>
    <a href="/login" style="margin-top: 115px;">Back to login page</a>
<% end %>

</div> <!-- /container -->