<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div><%= flash_messages %></div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Reset Password</h3>
      </div>
      <div class="panel-body">
        <%= form_tag(password_reset_submit_path, {class:'form'}) do %>
          <%= hidden_field_tag(:token, @user.reset_password_token, class: 'form-control' ) %>
          <div class="form-group">
            <%= label_tag :password do %>
              New Password: <span>&#42;</span>
            <% end %>
            <%= password_field_tag(:password, nil, class: 'form-control', placeholder: "", required: true ) %>
          </div>
          <div class="form-group">
            <%= label_tag :repeat_password do %>
              Repeat Password: <span>&#42;</span>
            <% end %>
            <%= password_field_tag(:repeat_password, nil, class: 'form-control', placeholder: "", required: true ) %>
          </div>
          <%= submit_tag("Save", class: 'btn btn-default') %>
        <% end %>
      </div>
    </div>
  </div>
</div>