<!--<h3>User profile</h3>-->
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag(profile_submit_path, {class:'form'}) do %>
      <div class="form-group">
        <%= label_tag :name do %>
          Name: <span>&#42;</span>
        <% end %>
        <%= text_field_tag(:name, @user.name, class: 'form-control', required: true ) %>
      </div>
      <div class="form-group">
        <%= label_tag :email, 'Email Address:' %>
        <input type="text" class="form-control" value="<%=  @user.email %>" disabled>
      </div>
      <div class="form-group">
        <%= label_tag :role, 'Role:' %>
        <input type="text" class="form-control" value="<%=  @user.role.type_name %>" disabled>
      </div>
      <div class="form-group">
        <%= label_tag :password do %>
          Password: <span>&#42;</span>
        <% end %>
        <%= password_field_tag(:password, nil , class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= label_tag :repeat_password do %>
          Repeat Password: <span>&#42;</span>
        <% end %>
        <%= password_field_tag(:repeat_password, nil, class: 'form-control') %>
      </div>

      <%= submit_tag("Save Changes", class: 'btn btn-success') %>
      <%= link_to 'Cancel', root_path, class: 'btn btn-warning' %>
    <% end %>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <label for="">Session History</label>
    <table id="user_session_history" class="cell-border">
      <thead>
      <tr>
        <th>Created At</th>
        <th>Expired At</th>
        <th>Platform</th>
        <th>Browser</th>
        <th>IP Address</th>
      </tr>
      </thead>
      <tbody>
      <% @sessions.each do |session|%>
       <tr>
         <td><%= session.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
         <td><%= session.expired_at.blank? ? nil : session.expired_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
         <td><%= session.platform %></td>
         <td><%= session.browser %></td>
         <td><%= session.ip_address %></td>
       </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>